{% extends "DesymfonyBundle::layout_admin.html.twig" %}

{% block title %} TITULO_DE_PAGINA {% endblock %}
{% block pageid 'admin' %}

{% block body %}
<h1>Editar ponencia</h1>
<form action="" method="post">
	
    <input type="submit" value="Guardar cambios" />
</form>

<a href="">Volver al listado</a>
{% endblock %}